.mainCalculator {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  border: 1px rgb(201, 193, 190) solid;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.Calc_btns {
  display: flex;
  justify-content: center;
}

.calculatorOutput {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

button {
  height: 3rem;
}

.CalcInput {
  height: 3rem;
  width: 20rem;
  color: bisque;
  background-color: rgb(95, 95, 95);
  padding: 0.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.zero {
  grid-area: zero;
  grid-row: 5;
  color: red;
}

.button-col {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-col button {
  width: 5rem;
}

.last-col button {
  background-color: rgb(210, 146, 51);
}

.button-row {
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button-row button {
  width: 10rem;
}

.pointrow {
  display: flex;
  flex-direction: row;
}

.pointrow button {
  width: 5rem;
}
